body {
  background-color: #020d1a;
  color: #fff;
  font-family: Arial, sans-serif;
  display: flex;
  height: 100vh;
  margin: 0;
}

.chatbox {
  /* display: flex; */
  /* height: 100vh; */
  margin-top: 3rem;
  padding: 1rem 2.5rem;
}



.top-header {
  /* background-color: #1e2124; */
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #122031;
}

.top-header p span {
  color: gray;
}

.main-container {
  display: flex;
  flex-grow: 1;
  overflow: hidden;
}

.sidebar_chatbox {
  width: 30%;
  overflow-y: auto;
  background-color: #020d1a;
  color: white;
  transition: transform 0.3s ease;
  border-right: 1px solid #303038;
}

.main-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  background-color: #36393f;
}

.active-conversations {
  padding: 15px;
  background-color: #122031;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.active-count {
  background-color: #7289da;
  color: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8em;
}

.search-box {
  background-color: #202225;
  margin: 15px;
  padding: 10px;
  border-radius: 4px;
  display: flex;
  align-items: center;
}

.search-box input {
  width: 100%;
  background: none;
  border: none;
  color: #8e9297;
  outline: none;
}

.conversation {
  padding: 10px 15px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.conversation:hover {
  background-color: #36393f;
}

.avatar {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-right: 10px;
  /* background-color: #7289da; */
  overflow: hidden;
}

.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.conversation-info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.conversation-name {
  font-weight: bold;
  font-size: 14px;
}

.conversation-last-message {
  font-size: 12px;
  color: #8e9297;
}

.unread-badge {
  background-color: #7289da;
  color: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8em;
}

.chat-header {
  padding: 15px;
  /* background-color: #36393f; */
  background-color: #020d1a;
  border-bottom: 1px solid gray;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.last_seen {
  font-size: 14px;
  margin-top: 5px;
  color: gray;
}

.profile_name {
  font-size: 17px;
  font-weight: 600;
}

.chat-area {
  flex-grow: 1;
  padding: 20px;
  overflow-y: auto;
  background-color: #020d1a;
}

.message {
  margin-bottom: 15px;
  clear: both;
}

.message-bubble {
  padding: 10px;
  border-radius: 8px;
  display: inline-block;
}

.message.received .message-bubble {
  background-color: #122031;
  border-radius: 8px 8px 8px 0;
  color: white;
  float: left;
  max-width: 65%;
  font-size: 14px;
  line-height: 23px;
  font-weight: 500;
}

.message.received p {
  font-size: 0.8em;
  color: #8e9297;
  margin-bottom: 5px;
}

.message.sent .message-bubble {
  background-color: #122031;
  border-radius: 8px 8px 0 8px;
  color: white;
  float: right;
  max-width: 65%;
  font-size: 14px;
  line-height: 23px;
  font-weight: 500;
}

.message-time {
  font-size: 0.8em;
  color: #8e9297;
  margin-top: 5px;
  clear: both;
}

.message.received .message-time {
  float: left;
}

.message.sent .message-time {
  float: right;
}

.input-area {
  background-color: #020d1a;
  border: 2px solid #122031;
  display: flex;
  gap: 10px;
  align-items: center;
}

.input-box {
  display: flex;
  align-items: center;
  background-color: #020d1a;
  border-radius: 8px;
  padding: 5px;
  width: 100%;
}

.input-box input {
  flex-grow: 1;
  background: none;
  border: none;
  color: white;
  outline: none;
  padding-left: 10px;
}

.input-box .file_icon {
  background-color: transparent;
  color: white;
  border: none;
  border-radius: 50%;
  padding: 10px 10px;
  cursor: pointer;
  font-size: 16px;
}

.input-box .emoji_icon {
  background-color: transparent;
  color: white;
  border: none;
  border-radius: 50%;
  padding: 10px 10px;
  cursor: pointer;
  font-size: 16px;
}

.main_profile_container {
  width: 40px;
  height: 40px;
}

.profile_image {
  width: 100%;
}

.send_button {
  width: 50px;
  height: 100%;
  border-radius: 10px;
  background-color: #7289da;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.main_content_default {
  display: flex;
  justify-content: center;
  width: 80%;
  align-items: center;
}

.main-content {
  display: none;
}

.main_content_default_img_container {
  width: 40%;
}

.default_message_page_text1 {
  text-align: center;
  font-size: 17px;
  color: gray;
}

.default_message_page_text2 {
  text-align: center;
  font-size: 14px;
  color: gray;
  margin-top: 10px;
}

.default_img {
  width: 100%;
}

.chat_header_main {
  display: flex;
  gap: 20px;
  align-items: center;
}

.main_profile_header_right {
  display: flex;
  gap: 20px;
}

.main_profile_header_right>i {
  cursor: pointer;
}


@media screen and (max-width:1065px) {
  .sidebar_chatbox {
    width: 30%;
  }
}


@media (max-width: 768px) {
  .sidebar_chatbox {
    width: 100%;
  }

  .main-content {
    display: none;
  }

  .main_content_default {
    display: none;
  }
}